{% extends 'base.html' %}
{% block content %}
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
        <th scope="col">Book</th>
    </tr>
    </thead>
    <tbody>
        {% for object in objects %}
            {% if not object.is_booked %}
            <tr>
                <th scope="col">{{ forloop.counter }}</th>
                <th scope="col">{{ object.name }}</th>
                <th scope="col">{{ object.description }}</th>
                <th scope="col"><a target="_blank" rel="noopener noreferrer" href="{{ object.link }}">{{ object.link }}</a></th>
                <th scope="col"><form method="post" action="/book-wish/">{% csrf_token %}<input name="wish_id" type="hidden" value="{{ object.id }}">
                    <input type="submit" class="btn btn-success" value="Book"></form></th>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    </table>
{% endblock %}